<!-- header -->
<header>
    <!-- header inner -->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <img src="/assets/images/deci.png"  width="50%" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <p class="navd">Personal Info</p>
                                </li>
                                <li class="nav-item">
                                    <p class="navd">Education</p>
                                </li>
                                <li class="nav-item">
                                    <p class="navd">Experience</p>
                                </li>
                                
                                <li class="nav-item">
                                    <p class="navd">Skills</p>
                                </li>
                                <li class="nav-item">
                                    <p class="navd">Choose Template</p>
                                </li>
                                <li class="nav-item">
                                    <p class="navs">Download</p>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header inner -->
<!-- end header -->

<!-- Hosting -->
<div id="" class="hosting formc" style="background-image: url(/assets/images/per6.jpg);">
    <div >
<div id="page-wrap" #doc2>
    
    
    <div id="contact-info" class="vcard">
    
        <!-- Microformats! -->
        <img alt=""  src={{userdata.personal.imagepath}} class="img-rounded">
    
        <h1 class="fn">{{userdata.personal.firstname}} {{userdata.personal.lastname}}</h1>
        
        <h4>
            Cell: <span class="tel">+91 {{userdata.personal.phone}}</span><br />
            Email: <a class="email" href="mailto:{{userdata.personal.email}}">{{userdata.personal.email}}</a><br/>
            Address: <span>{{userdata.personal.address}},{{userdata.personal.city}}-{{userdata.personal.zipcode}},{{userdata.personal.state}}</span><br>
       DOB: <span>{{userdata.personal.pas}}</span>
        </h4>
    </div><br>
    <br>
            
    <div id="objective">
        <h4 contenteditable="true" style="font-weight: 400; font-size: 18px; margin-left: 3em; margin-right: 3em;">
            <!-- I am an outgoing and energetic (ask anybody) young professional, seeking a 
            career that fits my professional skills, personality, and murderous tendencies. 
            My squid-like head is a masterful problem solver and inspires fear in who gaze upon it. 
            I can bring world domination to your organization.  -->
            {{userdata.education.degre}}
        </h4>
    </div><br>
    
    <div class="clear"></div>
    
    <dl>
        <dd class="clear"></dd>
        
        <dt>Education</dt>
        <dd>
            <h2>{{userdata.education.scname}}- {{userdata.education.city}}, {{userdata.education.state}}</h2>
            <p style="font-size: 16px; font-weight: 400;">Branch: {{userdata.education.degree}}, {{userdata.education.study}}<br />
               Year of passing: {{userdata.education.pass}}</p>
        </dd>
        
        <dd class="clear"></dd>
        
        <dt>Skills</dt>
        <dd>
            <div class="talent">
                <h2>{{userdata.skill.skill1}}</h2>
                <p contenteditable="true">Level: {{userdata.skill.level1}}</p>
            </div>
            <div class="talent">
                <h2>{{userdata.skill.skill2}}</h2>
                <p contenteditable="true">Level: {{userdata.skill.level2}}</p>
            </div>
            <div class="talent">
                <h2>{{userdata.skill.skill3}}</h2>
                <p contenteditable="true">Level: {{userdata.skill.level3}}</p>
            </div>
            <div class="talent">
                <h2>{{userdata.skill.skill4}}</h2>
                <p contenteditable="true">Level: {{userdata.skill.level4}}</p>
            </div>
            <div class="talent">
                <h2>{{userdata.skill.skill5}}</h2>
                <p contenteditable="true">Level: {{userdata.skill.level5}}</p>
            </div>
        </dd>
        
        <dd class="clear"></dd>
        
        <dt>Experience</dt>
        <dd>
            <h2>{{userdata.experience.employer}}</h2>
            <span style="font-size: 16px; font-weight: 400;">{{userdata.experience.jobtitle}} <br> {{userdata.experience.city}},{{userdata.experience.state}} <br> {{userdata.experience.startdate}} to {{userdata.experience.enddate}}</span>
        </dd>
        
        <dd class="clear"></dd>
        
    </dl>
    <div id="objective">
        <h4 contenteditable="true" style="font-weight: 400; font-size: 18px; margin-left: 3em; margin-right: 3em;">
            I hereby declare that the details and information given above are complete and true to the best of my knowledge
        </h4>
    </div>
    <br>
    <qr-code value="{{userdata.experience.video}}"></qr-code>
                                <p style="font-size: small;font-weight: bold;">Note : Scan this QR code to see more ABOUT ME</p>
    <div class="clear"></div>
    <h1></h1>
</div>
        <br><br><div class="row">
            <div class="col-md-12">
                <div class="web_hosting">
                    <div class="formnav">
                        <a routerLink="/selecttemplate">previous</a>
                        <a (click)="removeuser(); save();">download</a>
                    </div>
                    <div class="formnav">
                        <a href="/userhome">exit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Hosting -->

<!--  footer -->
<footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Get in Touch</h3>
                        <p>Don’t miss any updates of our new platform and updates.!</p>
                        <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
                            <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
                            <button class="btn btn_get btn_get_two" type="submit">Subscribe</button>
                            <p class="mchimp-errmessage" style="display: none;"></p>
                            <p class="mchimp-sucmessage" style="display: none;"></p>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Download</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">Resume Guy</a></li>
                            <li><a href="#">Android App</a></li>
                            <li><a href="#">ios App</a></li>
                            <li><a href="#">Desktop</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">My tasks</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Help</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Term &amp; conditions</a></li>
                            <li><a href="#">Reporting</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Support Policy</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Team Solutions</h3>
                        <div class="f_social_icon">
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-instagram"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-7">
                    <p class="mb-0 f_400">© decimal Inc.. 2021 All rights reserved.</p>
                </div>
                <div class="col-lg-6 col-sm-5 text-right">
                    <p>Made with <i class="fa fa-heart"></i> in <a href="#">Decimal</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
