<!-- header -->
<header>
    <!-- header inner -->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <img src="/assets/images/deci.png"  width="50%" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <p class="navd">Personal Info</p>
                                </li>
                                <li class="nav-item">
                                    <p class="navd">Education</p>
                                </li>
                                <li class="nav-item">
                                    <p class="navs">Experience</p>
                                </li>
                               
                                <li class="nav-item">
                                    <p class="navd">Skills</p>
                                </li>
                                <li class="nav-item">
                                    <p class="navd">Choose Template</p>
                                </li>
                                <li class="nav-item">
                                    <p class="navd">Download</p>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header inner -->
<!-- end header -->

<!-- Hosting -->
<div id="" class="hosting formc" style="background-image: url(/assets/images/per6.jpg);">
    <div class="formside">
        <div class="row">
            <div class="col-md-12">
                <div class="formpage top">
                    <form class="topcolor" [formGroup]="experienceform" (ngSubmit)="addexperience()">
                        <h2>Experience Details</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Employer</label>
                                <input type="text" name="employer" class="form-control" placeholder="Company Name" formControlName="employer" [(ngModel)]="experiencedetails.employer">
                            </div>
                            <div class="col-md-6">
                                <label>Job Title</label>
                                <input type="text" name="jobtitle" class="form-control" placeholder="Job Title" formControlName="jobtitle" [(ngModel)]="experiencedetails.jobtitle">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>City</label>
                                <input type="text" name="city" class="form-control" placeholder="City" formControlName="city" [(ngModel)]="experiencedetails.city">
                            </div>
                            <div class="col-md-6">
                                <label>State</label>
                                <input type="text" name="state" class="form-control" placeholder="State" formControlName="state" [(ngModel)]="experiencedetails.state">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Start Date</label>
                                <input type="date" name="startdate" class="form-control" formControlName="startdate" [(ngModel)]="experiencedetails.startdate">
                            </div>
                            <div class="col-md-6">
                                <label>End Date</label>
                                <input type="date" name="enddate" class="form-control" formControlName="enddate" [(ngModel)]="experiencedetails.enddate">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12
                            ">
                            <label>About videoUrl (Optional)</label>
                           <input type="text" name="video" class="form-control" formControlName="video" [(ngModel)] ="experiencedetails.video"/>
                        <span><p style="font-weight: 500;">Note :</p> Upload your video in any platform ( eg : Youtube, facebook, instagram, etc...) and paste that link here. <br> You can uplaod your personal Weblink or any kind of your work link also here.</span>
                        </div>
                        </div>


                        <div #saved class="show">
                            <input type="submit" name="submit" [disabled]="experienceform.invalid" value="save">
                            <div *ngIf="experienceform.invalid">
                                *all the field should be filled.
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="web_hosting">
                    <div class="formnav">
                        <a routerLink="/education">previous</a>
                        <a routerLink="/skills">next</a>
                    </div>
                    <div class="formnav">
                        <a href="/userhome">exit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Hosting -->

<!--  footer -->
<footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Get in Touch</h3>
                        <p>Don’t miss any updates of our new platform and updates.!</p>
                        <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
                            <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
                            <button class="btn btn_get btn_get_two" type="submit">Subscribe</button>
                            <p class="mchimp-errmessage" style="display: none;"></p>
                            <p class="mchimp-sucmessage" style="display: none;"></p>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Download</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">Resume Guy</a></li>
                            <li><a href="#">Android App</a></li>
                            <li><a href="#">ios App</a></li>
                            <li><a href="#">Desktop</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">My tasks</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Help</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Term &amp; conditions</a></li>
                            <li><a href="#">Reporting</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Support Policy</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Team Solutions</h3>
                        <div class="f_social_icon">
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-instagram"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-7">
                    <p class="mb-0 f_400">© decimal Inc.. 2021 All rights reserved.</p>
                </div>
                <div class="col-lg-6 col-sm-5 text-right">
                    <p>Made with <i class="fa fa-heart"></i> in <a href="#">Decimal</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
